@using Microsoft.AspNet.Identity
<ul class="nav nav-pills">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Browse", "Browse", "Home")</li>
    <li>@Html.ActionLink("Demand", "Demand", "Home")</li>
    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
</ul>
