
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Note Browser</title>
    <meta charset="utf-8">
    <link rel="icon" href="@Url.Content("~/img/favicon.ico")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/img/favicon.ico")" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <meta name="format-detection" content="telephone=no" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")">
    <!-- Main CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <!-- Slider CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/slider.css")" media="screen">
    <!-- Elements CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/elements.css")">
    <!-- Theme Color -->
    <link rel="stylesheet" href="@Url.Content("~/css/theme-color.css")" type="text/css">
    <!--[if lt IE 9]>
        <script src="docs-assets/js/ie8-responsive-file-warning.js"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

        <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
      <![endif]-->
</head>
<body>

    <div class="page-wrapper">
        <!--======= Logo, Main Navigation, Search =======-->
        <header id="header" class="no-border">
            <div class="header_top">
                <div class="container">
                    <!-- Contact Details -->
                    <div id="contact-details">
                        <ul>
                            <li><i class="fa fa-phone"></i> <a href="#">info@notebrowser.com</a></li>
                            <li><i class="fa fa-envelope-o"></i> +11 222 430 231</li>
                        </ul>
                    </div>
                    <ul id="owl-tt-menu" class="owl-tt-menu">
                        <li>
                            <a href="#">English</a>
                            <ul class="owl-tt-submenu">
                                <li><a href="#" class="flags flag_tr">Turkçe</a></li>
                                <li><a href="#" class="flags flag2">English</a></li>
                            </ul>
                        </li>
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                    <div class="social-top"> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-vimeo"></a> <a href="#" class="fa fa-gplus"></a> </div>
                    <!-- Social Icons -->
                    <div class="clear"></div>
                </div>
            </div>
            <div class="header-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fleft">
                                <h1 class="logo"> <a href="index.html"><img src="@Url.Content("~/img/logo-icon.png")" alt="">Note Browser</a> </h1>
                            </div>
                            <nav>
                                <div class="nav-sticky">
                                    <div class="owl-contener clearfix">
                                        <div class="cat-title"></div>
                                        @Html.Partial("_Menu")
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <!--=======Footer=======-->
        <div id="cd-nav">
            <a href="#0" class="cd-nav-trigger">Menu <span></span></a>
            <div id="cd-pop-form">
                <div class="cd-wrap-form">
                    <!-- contact form -->
                    <h3>Contact Us</h3>
                    <form class="form1">
                        <div class="success">
                            <div class="success_txt">
                                Contact form submitted!<br />
                                <strong> We will be in touch soon.</strong>
                            </div>
                        </div>
                        <fieldset>
                            <label class="name col-md-12">
                                <input type="text" value="Name:">
                                <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span>
                            </label>
                            <label class="email col-md-12">
                                <input type="text" value="E-mail:">
                                <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span>
                            </label>
                            <label class="message col-md-12">
                                <textarea>Message</textarea>
                                <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span>
                            </label>
                            <div class="clear"></div>
                            <div class="link-form col-md-12"><a class="flat sm purple" href="#" data-type="submit">Sumit comment</a> <a class="flat sm green" href="#" data-type="reset">Clear</a> </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <footer id="footer" class="style4">
            <div class="callout-box style2">
                <div class="container">
                    <div class="col-sm-7">
                        <div class="social-icons"> <a href="#" class="social-icon"><i class="fa fa-twitter has-circle"></i></a> <a href="#" class="social-icon"><i class="fa fa-facebook has-circle"></i></a> <a href="#" class="social-icon"><i class="fa fa-google-plus has-circle"></i></a> <a href="#" class="social-icon"><i class="fa fa-linkedin has-circle"></i></a> </div>
                    </div>
                    <div class="col-sm-5">
                        <div id="newsletter_signup">
                            <form novalidate="" target="_blank" name="newsletter-subscribe-form" id="newsletter-subscribe-form" method="post" class="form-inline validate">
                                <input type="email" required="" placeholder="Subscribe to our newsletter" class="form-control" name="EMAIL" value="">
                                <input type="submit" id="newsletter-subscribe" name="subscribe" value="SUBSCRIBE">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row add-clearfix same-height">
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">About hostify</h5>
                            <p>Our core focus is to create results-driven websites for businesses.</p>
                            <p>This means that your website is used for lead generation and also to turn web visitors into buyers.</p>
                            <a href="#" class="btn btn-sm style4">Contact Us</a> <a href="#" class="btn btn-sm style4">Purchase</a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">Control panel</h5>
                            <ul class="list-style-2">
                                <li><a href="#">Get Support</a></li>
                                <li><a href="#">Premium Hosting</a></li>
                                <li><a href="#">Service Status</a></li>
                                <li><a href="#">Service Status</a></li>
                                <li><a href="#">Developer Center</a></li>
                                <li><a href="#">Control panel</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">Recent Posts</h5>
                            <ul class="recent-posts">
                                <li>
                                    <a href="#" class="post-author-avatar"><span><img src="@Url.Content("~/img/44x44-img1.jpg")" alt=""></span></a>
                                    <div class="post-content">
                                        <a href="#" class="post-title">Aliquam hendrerit augu insuscipit ellentesqu </a>
                                        <p>By <a href="#">Admin</a> .  12 Mar, 2015</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="post-author-avatar"><span><img src="@Url.Content("~/img/44x44-img2.jpg")" alt=""></span></a>
                                    <div class="post-content">
                                        <a href="#" class="post-title">Aliquam hendrerit augu insuscipit ellentesqu </a>
                                        <p>By <a href="#">Admin</a> .  12 Mar, 2015</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="post-author-avatar"><span><img src="@Url.Content("~/img/44x44-img3.jpg")" alt=""></span></a>
                                    <div class="post-content">
                                        <a href="#" class="post-title">Aliquam hendrerit augu insuscipit ellentesqu </a>
                                        <p>By <a href="#">Admin</a> .  12 Mar, 2015</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h5 class="section-title box">Popular Tags</h5>
                            <div class="tags"> <a href="#"><span>Business</span></a> <a href="#"><span>Corporate</span></a> <a href="#"><span>Work</span></a> <a href="#"><span>Portfolio</span></a> <a href="#"><span>Clean</span></a> <a href="#"><span>Template</span></a> <a href="#"><span>Wordpress</span></a> <a href="#"><span>Joomla</span></a> <a href="#"><span>Drupal</span></a> <a href="#"><span>Grow</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="copyright-area">
                        <nav class="secondary-menu">
                            @Html.Partial("_BottomMenu")
                        </nav>
                        <div class="copyright"> &copy; 2016 Note Browser <em>by</em> <a href="#"> notebrowser.com</a> </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Javascript -->
    <script type="text/javascript" src="@Url.Content("~/js/jquery.js")"></script>
    <!-- Rev Slider  -->
    <script src="@Url.Content("~/js/slider.js")"></script>
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="@Url.Content("~/js/bootstrap.js")"></script>
    <!-- Jquery UI -->
    <script type="text/javascript" src="@Url.Content("~/js/jquery-ui.js")"></script>
    <!-- All Plugins -->
    <script type="text/javascript" src="@Url.Content("~/js/plugins.js")"></script>
    <!-- Menu Navigation -->
    <script type="text/javascript" src="@Url.Content("~/js/owlmenu.js")"></script>
    <!-- Carousels -->
    <script type="text/javascript" src="@Url.Content("~/js/owl.carousel.js")"></script>
    <!--Isotop, Masonry -->
    <script type="text/javascript" src="@Url.Content("~/js/masonry.js")"></script>
    <!-- Custom  -->
    <script type="text/javascript" src="@Url.Content("~/js/custom.js")"></script>
    <script>
        var menu = new owlTooltipMenu(document.getElementById('owl-tt-menu'));
    </script>
</body>
</html>
