@{
    ViewBag.Title = "About";
}

<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="title-center entry-title">About Us</h1>
        </div>
    </div>
    <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">About Us</li>
    </ul>
</div>
<div class="second">
    <div class="container">
        <div class="heading-box">
            <h2 class="box-title">About Us</h2>
            <p class="desc-lg bot-40">We offer the best service on the market</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="animated" data-animation-type="flipInY" data-animation-delay="0">
                    <img class="bot-20" src="@Url.Content("~/img/700x500-img1.jpg")" alt="">
                    <h4 class="banner-title">Our Speed</h4>
                    <div class="details">
                        <p>Aliquam hendrerit augu insuscipit ellentesqu sollicitudin Phasellus sit amet trisue ligula iaculis leo at nibh suscipit ultricierdum talesuada fames ac ante.</p>
                    </div>
                    <a href="#" class="btn style4 btn-md">More</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="animated" data-animation-type="flipInY" data-animation-delay="0.5">
                    <img class="bot-20" src="@Url.Content("~/img/700x500-img2.jpg")" alt="">
                    <h4 class="banner-title">Our Speed</h4>
                    <div class="details">
                        <p>Aliquam hendrerit augu insuscipit ellentesqu sollicitudin Phasellus sit amet trisue ligula iaculis leo at nibh suscipit ultricierdum talesuada fames ac ante.</p>
                    </div>
                    <a href="#" class="btn style4 btn-md">More</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="animated" data-animation-type="flipInY" data-animation-delay="1">
                    <img class="bot-20" src="@Url.Content("~/img/700x500-img3.jpg")" alt="">
                    <h4 class="banner-title">Our Speed</h4>
                    <div class="details">
                        <p>Aliquam hendrerit augu insuscipit ellentesqu sollicitudin Phasellus sit amet trisue ligula iaculis leo at nibh suscipit ultricierdum talesuada fames ac ante.</p>
                    </div>
                    <a href="#" class="btn style4 btn-md">More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-image1">
    <div class="light-overlay1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h1 class="box-title">Our History</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lectus elit, tincidunt nec turpis sed, accumsan iaculis ipsum. Nulla at augue auctor, tristique erat in, ultricies nunc. Mauris eget metus leo. Ut in mi lacinia, mattis nisl non, ultrices risus. Vestibulum aliquet aliquam ipsum ut ullamcorper. Pellentesque fringilla, massa vel rutrum consequatla velit.</p>
                    <br>
                    <a href="#" class="btn style4 bg-white">Know More</a> <a href="#" class="btn style4 bg-white">Purchase</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="second">
    <div class="container">
        <!-- Icons -->
        <div class="row">
            <div class="col-sm-4 bot-20">
                <div class="circle-only-border icon-hover-zoom">
                    <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0">
                        <div class="col-left"><i class="icon-3x fa fa-desktop"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Quality Control</a></h4>
                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bot-20">
                <div class="circle-only-border icon-hover-zoom">
                    <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0.5">
                        <div class="col-left"><i class="icon-3x fa fa-cloud"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Secure & Reliable</a></h4>
                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 bot-20">
                <div class="circle-only-border icon-hover-zoom">
                    <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="1">
                        <div class="col-left"><i class="icon-3x fa fa-line-chart"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Super Fast</a></h4>
                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="circle-only-border icon-hover-zoom">
                    <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0">
                        <div class="col-left"><i class="icon-3x fa fa-desktop"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Awesome Control Panel</a></h4>
                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="circle-only-border icon-hover-zoom">
                    <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="0.5">
                        <div class="col-left"><i class="icon-3x fa fa-cloud"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Secure Your Website</a></h4>
                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="circle-only-border icon-hover-zoom">
                    <div class="style-side-2 animated" data-animation-type="fadeInUp" data-animation-delay="1">
                        <div class="col-left"><i class="icon-3x fa fa-line-chart"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Customer Support</a></h4>
                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="callout-box style1 parallax parallax-image6" data-stellar-background-ratio="0.5">
    <div class="parallax-wrapper">
        <div class="callout-color"></div>
        <div class="container">
            <div class="row same-height">
                <div class="col-sm-12 col-md-4 center animated" data-animation-type="fadeInUp">
                    <div class="super-man">
                        <div class="sp-man"></div>
                        <div class="fly-waves"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 callout-content-container animated" data-animation-type="fadeInRight">
                    <div class="callout-content">
                        <div class="callout-text">
                            <h2>Super Fast. Affordable Web Hosting Services. </h2>
                        </div>
                        <div class="callout-action"> <a href="#" class="btn style4">Web Hosting</a> <a href="#" class="btn style4">Domain Name</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=======second=======-->
<div class="second">
    <div class="container">
        <div class="heading-box">
            <h2 class="box-title">Yes we are Creative Team</h2>
            <p class="desc-lg bot-40">Donec accumsan malesuada orci</p>
        </div>
        <!-- Carousel Team -->
        <div class="row">
            <div class="owl-carouse2 carousel-team">
                <div class="item">
                    <div class="img-style-1 team-wrap">
                        <div class="owl-img-wrapper owl-textual-box6 chrome-fix">
                            <img class="img-responsive" src="@Url.Content("~/img/team/team3-1.jpg")" alt="">
                            <div class="owl-textual6">
                                <div class="owl-textual">
                                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <section class="team-content">
                            <h4><a href="#">Jimmy Grow</a></h4>
                            <span>UI/UX Designer</span>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="img-style-1 team-wrap">
                        <div class="owl-img-wrapper owl-textual-box6 chrome-fix">
                            <img class="img-responsive" src="@Url.Content("~/img/team/team3-2.jpg")" alt="">
                            <div class="owl-textual6">
                                <div class="owl-textual">
                                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <section class="team-content">
                            <h4><a href="#">Jimmy Grow</a></h4>
                            <span>UI/UX Designer</span>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="img-style-1 team-wrap">
                        <div class="owl-img-wrapper owl-textual-box6 chrome-fix">
                            <img class="img-responsive" src="@Url.Content("~/img/team/team3-3.jpg")" alt="">
                            <div class="owl-textual6">
                                <div class="owl-textual">
                                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <section class="team-content">
                            <h4><a href="#">Jimmy Grow</a></h4>
                            <span>UI/UX Designer</span>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="img-style-1 team-wrap">
                        <div class="owl-img-wrapper owl-textual-box6 chrome-fix">
                            <img class="img-responsive" src="@Url.Content("~/img/team/team3-4.jpg")" alt="">
                            <div class="owl-textual6">
                                <div class="owl-textual">
                                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <section class="team-content">
                            <h4><a href="#">Jimmy Grow</a></h4>
                            <span>UI/UX Designer</span>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="img-style-1 team-wrap">
                        <div class="owl-img-wrapper owl-textual-box6 chrome-fix">
                            <img class="img-responsive" src="@Url.Content("~/img/team/team3-5.jpg")" alt="">
                            <div class="owl-textual6">
                                <div class="owl-textual">
                                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <section class="team-content">
                            <h4><a href="#">Jimmy Grow</a></h4>
                            <span>UI/UX Designer</span>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="img-style-1 team-wrap">
                        <div class="owl-img-wrapper owl-textual-box6 chrome-fix">
                            <img class="img-responsive" src="@Url.Content("~/img/team/team3-6.jpg")" alt="">
                            <div class="owl-textual6">
                                <div class="owl-textual">
                                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <section class="team-content">
                            <h4><a href="#">Jimmy Grow</a></h4>
                            <span>UI/UX Designer</span>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="img-style-1 team-wrap">
                        <div class="owl-img-wrapper owl-textual-box6 chrome-fix">
                            <img class="img-responsive" src="@Url.Content("~/img/team/team3-7.jpg")" alt="">
                            <div class="owl-textual6">
                                <div class="owl-textual">
                                    <div class="team-social-top"> <a class="fa fa-twitter delay1" href="#"></a> <a class="fa fa-facebook delay2" href="#"></a> <a class="fa fa-vimeo delay3" href="#"></a> <a class="fa fa-rss delay4" href="#"></a> <a class="fa fa-github delay5" href="#"></a> <a class="fa fa-gplus delay6" href="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <section class="team-content">
                            <h4><a href="#">Jimmy Grow</a></h4>
                            <span>UI/UX Designer</span>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>